<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TrainBookingSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginTrainServlet</display-name>
    <servlet-name>LoginTrainServlet</servlet-name>
    <servlet-class>com.train.controller.LoginTrainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginTrainServlet</servlet-name>
    <url-pattern>/LoginTrainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.train.controller.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewTrainServlet</display-name>
    <servlet-name>NewTrainServlet</servlet-name>
    <servlet-class>com.train.controller.NewTrainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewTrainServlet</servlet-name>
    <url-pattern>/NewTrainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>usersRecord</display-name>
    <servlet-name>usersRecord</servlet-name>
    <servlet-class>com.train.controller.usersRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usersRecord</servlet-name>
    <url-pattern>/usersRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingServlet</display-name>
    <servlet-name>BookingServlet</servlet-name>
    <servlet-class>com.train.controller.BookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingServlet</servlet-name>
    <url-pattern>/BookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelServlet</display-name>
    <servlet-name>CancelServlet</servlet-name>
    <servlet-class>com.train.controller.CancelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelServlet</servlet-name>
    <url-pattern>/CancelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmServlet</display-name>
    <servlet-name>ConfirmServlet</servlet-name>
    <servlet-class>com.train.controller.ConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmServlet</servlet-name>
    <url-pattern>/ConfirmServlet</url-pattern>
  </servlet-mapping>
</web-app>